Flask==0.10.1

# Flask Extensions
Flask-Caching==1.4.0
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
Flask-WTF==0.14.2

# Other
hyperlink==18.0.0
geocoder==1.8.0
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
psycopg2==2.7.5
SQLAlchemy==1.0.9
Werkzeug==0.11.2
WTForms==2.2.1

# Testing
pytest==3.6.3
pytest-cov==2.5.1
mccabe==0.3
flake8==2.4.0
